/******
DIV CARD STYLINGS
*******/
body {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.divRow { 
  width: 30%;
  height: 400px;
  background-color: slategray;
  display: inline-flex;
}

#div1:hover{
  border: 3px dotted red;
}

#div2:hover{
  border: 3px dotted red;
}

#div3:hover{
  border: 3px dotted red;
}
#div1, #div2, #div3 {
  margin: 2% 1%;
}

#inputBox {
  padding: 5em 2em;
  visibility: hidden;
}

#colorInput {

}
